.libro-list-container {
    margin-top: 32px !important; 
}

/* Titulo */
.libro-list-title {
    margin-bottom: 0 !important; 
}

/* Contenedor del encabezado */
.libro-header-box {
    display: flex !important;
    justify-content: space-between !important; 
    align-items: center !important;
    margin-bottom: 32px !important; 
}

/* Boton de añadir Libro */
.btn-add-libro {
    background-color: #00AEEF !important; 
    color: white !important;
    text-transform: none !important;
    box-shadow: none !important;
    padding: 6px 16px;
    border-radius: 20px !important;
    cursor: pointer;
    border: none;
    font-size: 0.875rem;
    font-weight: 500;
}

.btn-add-libro:hover {
    background-color: #008dc1 !important;
}