
.login-container {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
    gap: 16px !important; 
    padding: 20px;
    min-height: 300px; 
}

/* Estilo para el titulo */
.login-title {
    margin-bottom: 8px !important; 
}

.login-input {
    width: 100%;
    max-width: 300px;
}

/* Boton de para inicio de sesion*/
.login-button {
    width: 100%;
    max-width: 300px;
    margin-top: 8px !important;
}